.left-side {
    width: 35vw;
    height: 100vh;
    background-image: url('./images/unsplash.jpg');
    background-size: 35vw 100vh;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: whitesmoke;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding-left: 5vw;
}

.forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33vw;
    justify-content: space-between;
    gap: 24px;
}

.indiv {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
}

fieldset {
    margin-left: -5vw;
    padding-left: 5vw;
    padding-top: 10px;
    padding-bottom: 38px;
    padding-right: 27vw;
    border: 0;
    background-color: white;
    margin-bottom: 24px;
    box-shadow: 2px 3px 4px gray;
}

input {
    width: 14vw;
    height: 25px;
    padding-left: 0.5rem;
    border-style: solid;
}

a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

input:focus {
    outline-color: #719ECE;
}

button {
    width: 200px;
    padding: 16px;
    border-radius: 5px;
    border: 0px;
    border-style: solid;
    font-size: medium;
    color: white;
    background-color: #596D48;
    cursor: pointer;
}

.error {
    border-color: red;
}

.error:focus {
    outline-color: red;
}

.f:after {
    content:"* First name required"
}

.e:after {
    content:"* Email required"
}

.ei:after {
    content:"* Invalid email"
}

.p:after {
    content:"* Password required"
}

.cp:after {
    content:"* Passwords do not match"
}

span {
    color: red;
}